* {
    font-family: "Fira Code";
    font-size: 21px;
}

window {
    border: 1px solid {{ .colors.dark2 }};
    background-color: {{ .colors.dark0 }};
    border-radius: 10px;
    color: {{ .colors.light0 }};
}

#outer-box {
    padding: 10px;
}

#input {
    background: {{ .colors.dark1 }};
    color: {{ .colors.light0 }};

    padding: 10px;
    border: 1px solid {{ .colors.dark2 }}; 
}

#inner-box {
    margin-top: 10px;
}

#entry {
    background: {{ .colors.dark0 }};
    color: {{ .colors.light0 }};
}

#entry:selected {
    background: {{ .colors.pink }};
    color: {{ .colors.dark0 }};
}

.entry * {
    color: inherit;
}

/* vim:ft=css
 */
